<div class="d-flex justify-content-center" style="margin-top: 300px;">
  <form action="/admin/login" method="POST" style="width: 500px;">

    <div>
      <label for="account" class="form-label">Account</label>
      <input type="account" class="form-control" id="account" placeholder="account">
    </div>

    <div class="mt-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" placeholder="password">
    </div>

    <button class="btn btn-block rounded-pill mt-2" style="background-color: #c89b7e; width: 500px; color:white"
      type="submit">登入</button>
    <a class="d-flex justify-content-center mt-2" href="/" style="color: #cba272;text-decoration:none;">首頁</a>
  </form>
</div>